* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr {
    background-color: indigo;
}

.numbers-add {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    padding: 0 2rem;
    justify-content: space-between;
}

.num {
    display: flex;
    flex-flow: row wrap;
}

.add {
    display: flex;
    flex-flow: row;
}

.add-task {
    flex: 1.5;
}

.btn {
    flex: 0.5;
    padding: 1rem 1.8rem;
    color: white;
    background-color: rgb(37, 128, 247);
}

#board-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.board {
    flex: 1;
    margin: 1.5rem;
    min-height: 25rem;
    padding: 1rem;
    border: 1px solid purple;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.board:hover,
.board:focus {
    border: 3px solid white;
    border-image: linear-gradient(to bottom, pink, purple, blue) 1 100%;
    transition: all 0.3s ease-in-out;
}

.board-title {
    border: none;
    text-transform: capitalize;
    text-align: center;
}

.board-title:focus {
    outline: none;
}

.dragabble {
    cursor: move;
    margin: 0.7rem 0;
    padding: 0.5rem;
    box-shadow: 0 0 4px grey;
    display: flex;
    flex-flow: row;
}

.dragging {
    border: 2px solid white;
    border-image: linear-gradient(to bottom, pink, purple, blue)1 100%;
    opacity: 0.8;
}

.txt {
    flex: 5;
}

.cross {
    flex: 1;
    color: gray;
}